.managerSquad{
    width: 95%;
    margin: 20px auto;
    display: flex;
}

.dashSquad{
    width: 40%;
    margin-right: 5px;
    border-right: 2px solid #0000001a;
}

.areasTabela {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.squads{
    width: 100%;
    display: inline-block;
}
.group-squad{
    margin: 0 45px;
}

.groups{
    display: flex;
}

.tables{
    width: 330px;
    margin: 10px 10px;
}



table{
    width: 70%;
}

td, th {
    text-align: left;
    padding: 5px;
}

td{
    font-size: 14px;
    border: 1px solid #dddddd;
}

th{
    font-weight: 500;
    background-color: #cf1717bf;
    color: white;
    border-color: #cf1717bf;
}

tr:nth-child(even) {
    background-color: #0000000a;
}
h5{
    font-size: 1.25rem;
    border-bottom: 1px solid #0000001a;
    padding-bottom: 3px;
    margin: 0px 20px 15px 20px;
}
.table-squad{
    width: 100%;
}
.th-squad{
    font-size: 13px;
    padding: 2px;
    width: 110px;
}

.td-squad{
    font-size: 11px;
    padding: 2px;
}

span{
    font-weight: 500;
    font-size: 14px;
}

h3{
    font-size: 1.75rem;
    margin: 20px 30px 0 30px;
    padding-bottom: 3px;
    padding-left: 3px;
    border-bottom: 1px solid #0000001a;
}