.conteudo-projeto{
    width: 55%;
    margin: 0 auto;
}

.titulo-projeto{
    margin-top: 15px;
}

h1{
    border-bottom: 1px solid #0000001a;
    padding-bottom: 6px;
    margin-bottom: 0px;
    text-align: center;
}

span{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.form-projeto{
    margin-top: 15px;
}

label{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 5px;
}

input{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    color: #0000008a;
    border-radius: 5px;
    border: 1px solid #0000001a;
}

input:focus,
select:focus{
    outline-color: #0000003b;
}

select{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    margin-right: 5px;
    padding-left: 5px;
    color: #0000008a;
    border-radius: 5px;
    border: 1px solid #0000001a;
    background-size: 17px;
    background-position-x: 97%;
    background-position-y: 50%;
    font-size: 13px;
}


option{
    color: #212529;
    font-size: 13px;
}

.btn-projeto{
    width: 100%;
    margin: 20px 40%;
    margin-top: 10px;
}

.select_group-tribus{
    display: flex;
}




@media only screen and (max-width: 600px){

    body{
        height: 100%;
    }

    .conteudo-projeto{
        width: 90%;
    }

    h1{
        font-size: 1.8rem;
    }

    select{
        width: 100%;
    }

    .btn-projeto{
        margin: 20px 30%;
    }

    .select_group-tribus{
        display: block;
    }
}